#if($button) 
	        <Button style="margin: 2px;" v-for="(item,index) in buttonInfos" :type="item.icon"  
 					:key="item.code" @click="onClicking(item.href)"#if(${button.size}) :size="getSizeValue"#end#if(${button.icon}) icon="${button.icon}"#end>{{item.title }}</Button>   
#end 