#set($daopackname=${models.daoPackName})
#set($modelpackname=${models.modelPackName})
#set($model=${models.model})
#set($syscode=${models.sysCode})
package ${daopackname};

import ${modelpackname}.${syscode}${model};


import tk.mybatis.mapper.common.Mapper;

public interface ${syscode}${model}Dao extends Mapper<${syscode}${model}>{
} 
