#set($daopackname=${models.daoPackName})
#set($modelpackname=${models.modelPackName})
#set($model=${models.model})
package ${daopackname};

import ${modelpackname}.${model};

import tk.mybatis.mapper.common.Mapper;

public interface ${model}Dao extends Mapper<${model}>{
} 
