#set($servicepackname=${models.servicePackName})
#set($modelpackname=${models.modelPackName})
#set($model=${models.model})
package ${servicepackname};

import com.sky.core.base.service.IBaseService;
import ${modelpackname}.${model};

public interface I${model}Service extends IBaseService<${model}> {
}   