#set($iServicePath=${models.servicePath})
#set($model=${models.model})
package ${iServicePath};

import com.sky.core.base.service.IBaseService;
import com.sky.app.model.${model};

public interface I${model}Service extends IBaseService<${model}> {
}   