#set($modelpackname=${models.modelPackName})
#set($modelclassstr=${models.modelClassStr})
#set($tablename=${models.tableName})
package ${modelpackname};

import java.math.BigDecimal;
import java.util.Date;
import javax.persistence.GeneratedValue;
import javax.persistence.Id;
import javax.persistence.Table;
import org.apache.ibatis.type.Alias;

@Alias("${model}")
@Table(name="${tablename}")
public class ${model} {
$modelclassstr
}

