#set($store="\$store")
import datetool from '@/libs/datetool';
import pagepublictool from '@/libs/pagepublictool';
import Cookies from 'js-cookie';
import ${moducode}Column from './${moducode}-column.js';

export default {
    name: '${moducode}-info',
    data () {
        return {
        	listurl: '/${syscode}${tid}L.do', 
        	saveurl: '/${syscode}${tid}I.do',
        	deleteurl: '/${syscode}${tid}D.do',
        	updateurl: '/${syscode}${tid}U.do',
#if($inputs)
#foreach($input in $inputs) 
#if(${input.defaultValue})
			${input.value}:'${input.defaultValue}',
#else     	
        	${input.value}:'',
#end
#end
#end
#if($modals) 
#foreach($modal in $modals) 
#if(${modal.value})     	
        	${modal.value}:false,
#end
#if(${modal.form})         	
        	${modal.form}:{
#if(${modal.form}=="addForm")
#if($addformitems)
#foreach($formitem in $addformitems)
#if(${formitem.input}&&${formitem.input.defaultValue})
				"${formitem.input.value}":"${formitem.input.defaultValue}",
#end
#if(${formitem.inputNumber}&&${formitem.inputNumber.defaultValue})
				"${formitem.inputNumber.value}":"${formitem.inputNumber.defaultValue}",
#elseif(${formitem.inputNumber})
				${formitem.inputNumber.value}:1,
#end
#if(${formitem.datepicker}&&${formitem.datepicker.defaultValue})
				"${formitem.datepicker.value}":"${formitem.datepicker.defaultValue}",
#end
#end
#end
#end
             },
#if(${modal.loading})        	
        	${modal.loading}:true,
#end        	
#end        	
#end 
#end        	
        	selectedLines: 0,
        	data_list:[],
        	pageSize: 10,
            currentPage: 1,
            totalPage: 0,
            totalCount: 0,
        	buttonInfos:[
        		{title:'查看',
		        code:'100101',
		        icon:'info',
		        href:'view'
		        },
		        {title:'新增',
		        code:'100102',
		        icon:'primary',
		        href:'add'
		        },
		        {title:'修改',
		        code:'100103',
		        icon:'warning',
		        href:'upd'
		        },
		        {title:'删除',
		        code:'100104',
		        icon:'error',
		        href:'del'
        		} 	   
        	],          
        	columns:[],
#if(${addform.rules})
        	${addform.rules}:{
#if($addformitems)
#foreach($addformitem in $addformitems)        	
#if(${addformitem.prop} && ${addformitem.required} && ${addformitem.label})
#if(${addformitem.input})
        	    ${addformitem.input.value}: [
                   	 {required: true, message: '${addformitem.label}不可为空', trigger: 'blur' }
                   ],
#end
#if(${addformitem.datepicker})
        	    ${addformitem.datepicker.value}: [
                   	 {required: true,type:'date', message: '${addformitem.label}不可为空', trigger: 'blur' }
                   ],
#end
#if(${addformitem.inputNumber})
        	    ${addformitem.inputNumber.value}: [
                   	 {required: true,type:'number', message: '${addformitem.label}不可为空', trigger: 'blur' }
                   ],
#end                                
#end
#end
#end
        	},
#end 
#if(${updform.rules})
        	${updform.rules}:{
#if($updformitems)
#foreach($updformitem in $updformitems)        	
#if(${updformitem.prop} && ${updformitem.required} && ${updformitem.label})
#if(${updformitem.input})
        	    ${updformitem.input.value}: [
                   	 {required: true, message: '${updformitem.label}不可为空', trigger: 'blur' }
                   ],
#end
#if(${updformitem.datepicker})
        	    ${updformitem.datepicker.value}: [
                   	 {required: true,type:'date', message: '${updformitem.label}不可为空', trigger: 'blur' }
                   ],
#end
#if(${updformitem.inputNumber})
        	    ${updformitem.inputNumber.value}: [
                   	 {required: true,type:'number', message: '${updformitem.label}不可为空', trigger: 'blur' }
                   ],
#end
#end
#end
#end
        	},
#end 
       	    deleteKey:[]
        };
    },
    methods: {
    	getSearch() {
    		let menuCode = Cookies.get('menucode');
        	return {'menuCode':menuCode,'pageSize': this.pageSize, 'currentPage': this.currentPage
        	#if($inputs),'valObj':{#foreach($input in $inputs)'${input.value}': this.${input.value}#if($foreach.hasNext),#end#end}#end
        	};
        },  
        init () {
       		pagepublictool.setPage(this);
        	pagepublictool.page(this.getSearch());
        	//pagepublictool.getButtons();
        	this.columns=${moducode}Column.getColumns();      	
        	//树模型，用于挂树节点
        	if(this.$route.query.id){
#if($fields)
#foreach($field in $fields)
				if("${field}"==this.$route.query.showparam){
					this.${field}= this.$route.query.id;   
	        		this.addForm.${field} = this.$route.query.id;
	        		this.updForm.${field} = this.$route.query.id;
				}
#end
#end
				pagepublictool.page(this.getSearch());
        	}
        	if(this.$route.query.type){
               	this.type = this.$route.query.type;
            	if(this.type==='VIEW' || this.type==='view'){
                	this.buttonInfos = [{
                		title:'查看',
        		        code:'100101',
        		        icon:'info',
        		        href:'view'
        		        }];
            	}else if(this.type==='ADD'  || this.type==='add'){
            		this.buttonInfos = [{
            			title:'新增',
        		        code:'100102',
        		        icon:'primary',
        		        href:'add'
        		        }];       		
            	}else if(this.type==='UPD' || this.type==='upd'){
            		this.buttonInfos = [{
            			title:'修改',
    			        code:'100103',
    			        icon:'warning',
    			        href:'upd'
    			        }];     		
            	}else if(this.type==='DEL' || this.type==='del'){
            		this.buttonInfos = [{
            			title:'删除',
    			        code:'100104',
    			        icon:'error',
    			        href:'del'
    	        		}];       		
            	}
        	}
        },
        searching () {
    		pagepublictool.page(this.getSearch());
        },
        onClicking(type){
#if(${istree}=='1')
			let router=this.$router;
        	if(type==='VIEW' || type==='view'){
         		if(this.$route.query.id){
         			pagepublictool.view();
         		}else{
        	     	pagepublictool.view();
        	        let query = {
	        	     	id:this.viewForm.${tableprimary},
	        	     	code :'${titleName}',
	        	     	type :type
        	     		};
        	        router.push({
        	             name: '${moducode}treemode',
        	             query: query
        	         });
         		}
    		}else if(type==='ADD'  || type==='add'){
	        	if(this.$route.query.id){
	        		pagepublictool.add();
	        	}else{
		        	let query = {
		    		    id:this.viewForm.${tableprimary},
		    		    code :'${titleName}',
		    		    type :type
		    		    };
		    		router.push({
		    		     name: '${moducode}treemode',
		    		     query: query
		    		});
	        	}
       		 }else if(type==='UPD' || type==='upd'){
        		if(this.$route.query.id){
        			pagepublictool.update();      			
        		}else{
    	            let query = {
	    		     	id:this.viewForm.${tableprimary},
	    		     	code :'${titleName}',
	    		     	type :type
    		     	};
    		        router.push({
    		            name: '${moducode}treemode',
    		            query: query
    		        });
        		}
        	}else if(type==='DEL' || type==='del'){
        		if(this.$route.query.id){
        			pagepublictool.delete(this.deleteurl+"?delKeys="+this.deleteKey.join(','));    			
        		}else{
    	            let query = {
	    		     	id:this.viewForm.${tableprimary},
	    		     	code :'${titleName}',
	    		     	type :type
    		     	};
    		        router.push({
    		        	name:'${moducode}treemode',
	    		        query: query
    		        });         		
        		}
        	}
#else
				if(type==='VIEW' || type==='view') pagepublictool.view();
        		else if(type==='ADD'  || type==='add') pagepublictool.add();
        		else if(type==='UPD' || type==='upd') pagepublictool.update();
        		else if(type==='DEL' || type==='del') pagepublictool.delete(this.deleteurl+"?delKeys="+this.deleteKey.join(','));
#end
        },
        saving(refValue){
         	pagepublictool.save(refValue);
        },
        reseting (refValue) {
 			pagepublictool.reset(refValue);
        },
        choicing(selection, row) {
        	pagepublictool.choice(selection, row);
        	this.deleteKey.push(row.${tableprimary});
        },
        cancing(selection, row){
        	pagepublictool.cancel(selection, row);
        	if(this.selectedLines>0){
        		this.deleteKey.splice(this.deleteKey.indexOf(row.${tableprimary}), 1);
        	}
        },
        choicingAll(selection){
        	this.selectedLines=selection.length;
        	this.deleteKey=[];
        	for(var i=0;i<this.selectedLines;i++){
        		this.deleteKey.push(selection[i].${tableprimary})
        	}
        },
        cancingAll(selection){
        	this.selectedLines=selection.length;
        	if(this.selectedLines==0){
        		this.deleteKey=[];
        	}
        },
        changePage (page) {
        	let cond = this.getSearch();
        	cond.currentPage = page;
        	pagepublictool.page(cond);
        },
        changePageSize (_pageSize) {
        	let cond = this.getSearch();
        	cond.pageSize = _pageSize;
        	pagepublictool.page(cond);        	
        },
    },
    created() {
    	this.init();
    },
    computed:{
			getSizeValue(){
			 	//个性化设置，设置字体大小
				const sizeValue=Cookies.get("sizeValue");
				const size=this.$store.state.app.sizeFont;
				if(!sizeValue){
					return size;
				}else{
					return sizeValue;
				}
	    	}
    }  
};