#set($serviceImplPath=${models.serviceImplPath})
#set($model=${models.model})
package ${serviceImplPath};

import com.sky.core.base.service.impl.BaseServiceImpl;
import org.springframework.stereotype.Service;
import com.sky.app.model.${model};
import com.sky.app.service.I${model}Service;

@Service("${model}Service")
public class ${model}ServiceImpl extends BaseServiceImpl<${model}> implements I${model}Service{
}

