#if($table) 
       	   <Table #if(${table.columns}):columns="${table.columns}"#end #if(${table.data}):data="${table.data}"#end #if(${table.height})height="${table.height}"#end highlight-row
       	        #if(${table.border}) border#end
#if(${table.size}) :size="getSizeValue"#end
#if(${table.stripe}) :stripe="true"#end
#if(${table.onSelect}) @on-select="choicing"#end
#if(${table.onSelectCancel}) @on-select-cancel="cancing"#end#if(${table.onSelectAll}) @on-select-all="choicingAll"#end#if(${table.onSelectionChange}) @on-selection-change="cancingAll"#end></Table>	
#end