	           <Form #if(${updform.ref})ref="${updform.ref}"#end :model="${updform.model}" #if(${updform.rules}):rules="${updform.rules}"#end #if(${updform.labelWidth}):label-width="${updform.labelWidth}" #if(${updform.inline})inline#end>#end
#if($updformitems)
#foreach($formitem in $updformitems)

	              <FormItem label="${formitem.label}:" #if(${formitem.prop})prop="${formitem.prop}"#end #if(${formitem.required})required#end #if(${formitem.labelWidth})label-width="${formitem.labelWidth}"#end style="width:300px">
#if(${formitem.input})
	                 <Input v-model="${updform.model}.${formitem.input.value}" #if(${formitem.input.type}=="textarea")type="textarea" :autosize="{minRows: 2,maxRows: 5}"#end placeholder="${formitem.input.placeholder}" #if(${formitem.input.readonly}=="true"):readonly="true"#end/>
#end
#if(${formitem.inputNumber})	                 
	                 <InputNumber #if(${formitem.inputNumber.max}):max="${formitem.inputNumber.max}"#end #if(${formitem.inputNumber.min}):min="${formitem.inputNumber.min}"#end v-model="${updform.model}.${formitem.inputNumber.value}"  #if(${formitem.inputNumber.placeholder})placeholder="${formitem.inputNumber.placeholder}"#end #if(${formitem.input.readonly}=="true"):readonly="true"#end style="width:200px"></InputNumber>
#end
#if(${formitem.datepicker})	                 
	                 <DatePicker  type="date" v-model="${updform.model}.${formitem.datepicker.value}" placeholder="${formitem.datepicker.placeholder}"></DatePicker>
#end
#if(${formitem.select})	                 
	                 <Select v-model="${updform.model}.${formitem.select.value}" clearable filterable #if(${formitem.select.multiple}=="true")multiple#end>
        				  <Option v-for="item in ${formitem.select.value}Select" :value="item.value" :key="item.value">{{ item.label }}</Option>
    				 </Select>
#end
#if(${formitem.radio})	                 
	                 <RadioGroup v-model="${updform.model}.${formitem.radio.value}">
                		 <Radio v-for="item in ${formitem.radio.value}Radio" :label="item.label" :key="item.value"></Radio>
            		 </RadioGroup>
#end
#if(${formitem.checkbox})	                 
	                 <CheckboxGroup v-model="${updform.model}.${formitem.checkbox.value}">
		                 <Checkbox  v-for="item in ${formitem.checkbox.value}Checkbox" :label="item.label" :key="item.value"></Checkbox>
           			 </CheckboxGroup>
#end
#if(${formitem.type}=="switch")	                 
	                 <i-switch v-model="${updform.model}.${formitem.value}" size="large">
                		 <span slot="open">On</span>
                		 <span slot="close">Off</span>
            		 </i-switch>
#end
#if(${formitem.type}=="slider")	                 
	                 <Slider v-model="${updform.model}.${formitem.value}" range></Slider>
#end
#if(${formitem.type}=="TimePicker")	                 
	                 <TimePicker type="time" v-model="${updform.model}.${formitem.value}" placeholder="请输入${formitem.label}" ></TimePicker>
#end	                 
	              </FormItem>
#end     
#end    
	           </Form>
	        