	           <Form #if(${viewform.ref})ref="${viewform.ref}"#end :model="${viewform.model}" #if(${viewform.labelWidth}):label-width="${viewform.labelWidth}">#end
#if($viewformitems)
#foreach($formitem in $viewformitems)

	              <FormItem label="${formitem.label}:" #if(${formitem.labelWidth})label-width="${formitem.labelWidth}"#end>
#if(${formitem.input})
	                 <Input :readonly="true" v-model="${viewform.model}.${formitem.input.value}"/>
#end
#if(${formitem.type}=="select")	                 
	                 <Select  v-model="${viewform.model}.${formitem.value}" />
	                 	 <Option value="beijing">New York</Option>
                	 </Select>
#end
#if(${formitem.type}=="radioGroup")	                 
	                 <RadioGroup v-model="${viewform.model}.${formitem.value}">
                		 <Radio label="male">Male</Radio>
                		 <Radio label="female">Female</Radio>
            		 </RadioGroup>
#end
#if(${formitem.type}=="checkboxGroup")	                 
	                 <CheckboxGroup v-model="${viewform.model}.${formitem.value}">
		                 <Checkbox label="Eat"></Checkbox>
		                 <Checkbox label="Sleep"></Checkbox>
		                 <Checkbox label="Run"></Checkbox>
		                 <Checkbox label="Movie"></Checkbox>
           			 </CheckboxGroup>
#end
#if(${formitem.type}=="switch")	                 
	                 <i-switch v-model="${viewform.model}.${formitem.value}" size="large">
                		 <span slot="open">On</span>
                		 <span slot="close">Off</span>
            		 </i-switch>
#end
#if(${formitem.type}=="slider")	                 
	                 <Slider v-model="${viewform.model}.${formitem.value}" range></Slider>
#end	                 
	              </FormItem>
#end
#end         
	        </Form>
	        