#set($titleIconType=${models.titleIconType})
#set($titleName=${models.titleName})
#set($model=${models.model})
#set($moducode=${models.moduCode})
#set($tid=${models.tid})
#set($tableprimary=${models.tablePrimary})
#set($inputs=${models.inputs})
#set($button=${models.button})
#set($table=${models.table})
#set($page=${models.page})
#set($modals=${models.modals})
#set($addform=${models.addform})
#set($addformitems=${models.addformitem})
#set($updform=${models.updform})
#set($updformitems=${models.updformitem})
#set($viewform=${models.viewform})
#set($viewformitems=${models.viewformitem})
<style>
</style>
<template>
  <Row>
	<Card>
	   <p slot="title"> <Icon type="$titleIconType"></Icon>$titleName</p>
	 <Row>
          <p>
#parse("com/sky/app/coder/templates/a-input-vue.vm")          
#parse("com/sky/app/coder/templates/a-button-vue.vm")          
         </p>	
     </Row>
     <Row>
#parse("com/sky/app/coder/templates/a-table-vue.vm")
#parse("com/sky/app/coder/templates/a-page-vue.vm")
     </Row>
#parse("com/sky/app/coder/templates/a-modal-vue.vm")     
	</Card>
  </Row>
</template>
<script>
#parse("com/sky/app/coder/templates/a-script-vue.vm") 

</script> 