	           <Form #if(${msupdform.ref})ref="${msupdform.ref}"#end :model="${msupdform.model}" #if(${msupdform.rules}):rules="${msupdform.rules}"#end #if(${msupdform.labelWidth}):label-width="${msupdform.labelWidth}" #if(${msupdform.inline})inline#end>#end
#if($msupdformitems)
#foreach($formitem in $msupdformitems)

	              <FormItem label="${formitem.label}:" #if(${formitem.prop})prop="${formitem.prop}"#end #if(${formitem.required})required#end #if(${formitem.labelWidth})label-width="${formitem.labelWidth}"#end style="width:300px">
#if(${formitem.input})
	                 <Input v-model="${msupdform.model}.${formitem.input.value}" placeholder="${formitem.input.placeholder}" />
#end
#if(${formitem.inputNumber})	                 
	                 <InputNumber #if(${formitem.inputNumber.max}):max="${formitem.inputNumber.max}"#end #if(${formitem.inputNumber.min}):min="${formitem.inputNumber.min}"#end v-model="${msupdform.model}.${formitem.inputNumber.value}"  #if(${formitem.inputNumber.placeholder})placeholder="${formitem.inputNumber.placeholder}"#end style="width:200px"></InputNumber>
#end
#if(${formitem.datepicker})	                 
	                 <DatePicker  type="date" v-model="${msupdform.model}.${formitem.datepicker.value}" placeholder="${formitem.datepicker.placeholder}"></DatePicker>
#end	                 
	              </FormItem>
#end     
#end    
	           </Form>
	        