#set($daopackname=${models.daoPackName})
#set($modelpackname=${models.modelPackName})
#set($model=${models.model})
#set($convertablename=${models.converTableName})
package ${daopackname};

#if(${convertablename})
import ${modelpackname}.${model}${convertablename};
#else
import ${modelpackname}.${model};
#end
import tk.mybatis.mapper.common.Mapper;
#if(${convertablename})
public interface ${model}${convertablename}Dao extends Mapper<${model}${convertablename}>{
}
#else
public interface ${model}Dao extends Mapper<${model}>{
}
#end
 
