#set($model=${models.model})
#set($tablenames=${models.tableNames})
#set($inputs=${models.inputs})
#set($tableinfo=${models.tableInfo})
#set($mapperselectfield=${models.mapperSelectField})
#set($syscode=${models.sysCode})
#set($fields=${models.fields})
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.app.mapper.${syscode}${model}Mapper">
 
 	 <select id="findForPageList" parameterType="Page" resultType="${syscode}${model}">
	       select 
${mapperselectfield} 
	       from 
	         ${tablenames}
	       where 1=1
#if(${tableinfo})
		   and ${tableinfo}
#end	       
#if($fields)
#foreach($field in $fields)       
	             <if test="variables.${field.get(0)} !=null and variables.${field.get(0)} !=''">
	             		and ${field.get(1)}=#{variables.${field.get(0)}}
	             </if>
#end
#end	 
	 </select>

</mapper>  