#set($model=${models.model})
#set($tablenames=${models.tableNames})
#set($inputs=${models.inputs})
#set($tableinfo=${models.tableInfo})
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.app.mapper.${model}Mapper">
 
 	 <select id="findForPageList" parameterType="Page" resultType="${model}">
	       select 
	          * 
	       from 
	         ${tablenames}
	       where 1=1
#if(${tableinfo})
		   and ${tableinfo}
#end	       
#if(${inputs})	
#foreach($input in $inputs)       
	             <if test="variables.${input.value} !=null and variables.${input.value} !=''">
	             		and ${input.convertValue}=#{variables.${input.value}}
	             </if>
#end
#end	 
	 </select>

</mapper>  