#set($modelpackname=${models.modelPackName})
#set($modelclassstr=${models.modelClassStr})
#set($tablename=${models.tableName})
#set($convertablename=${models.converTableName})
#set($syscode=${models.sysCode})
package ${modelpackname};

import java.math.BigDecimal;
import java.util.Date;
import javax.persistence.Column;
#if(${convertablename}&&${convertablename}!="")
import javax.persistence.GeneratedValue;
import javax.persistence.Id;
import javax.persistence.Table;
import org.apache.ibatis.type.Alias;

@Alias("${syscode}${model}${convertablename}")
@Table(name="${tablename}")
#end
#if(${convertablename})
public class ${syscode}${model}${convertablename}{
#else
public class ${syscode}${model}{
#end
$modelclassstr
}

