#set($serviceimplpackname=${models.serviceImplPackName})
#set($servicepackname=${models.servicePackName})
#set($modelpackname=${models.modelPackName})
#set($model=${models.model})
#set($convertablename=${models.converTableName})
#set($syscode=${models.sysCode})
package ${serviceimplpackname};

import com.sky.core.base.service.impl.BaseServiceImpl;
import org.springframework.stereotype.Service;
#if(${convertablename})
import ${modelpackname}.${syscode}${model}${convertablename};
import ${servicepackname}.I${syscode}${model}${convertablename}Service;
@Service("${syscode}${model}${convertablename}Service")
public class ${syscode}${model}${convertablename}ServiceImpl extends BaseServiceImpl<${syscode}${model}${convertablename}> implements I${syscode}${model}${convertablename}Service{
}
#else
import ${modelpackname}.${syscode}${model};
import ${servicepackname}.I${syscode}${model}Service;
@Service("${syscode}${model}Service")
public class ${syscode}${model}ServiceImpl extends BaseServiceImpl<${syscode}${model}> implements I${syscode}${model}Service{
}
#end
