#set($routes=${models.routes})
<template>
	<Row >
		<i-col span="5">
		<i-menu active-name="1-1" width="auto" accordion :open-names="[menuData[0].vue_name]">
			<template v-for="item in menuData">
				<Submenu :name="item.vue_name" :key="item.vue_name">
					<template slot="title">
						<Icon :type="item.icon"></Icon>
						<span class="layout-text">{{ item.vue_label }}</span>
					</template>
					<template v-for="childs in item.vue_children">
						<menu-item v-if="isMoreLeveMenu(childs)==false" :name="childs.vue_name" :key="childs.vue_name">
							<router-link :to="{path:childs.vue_path, query:{vue_id:childs.vue_id,vue_type:childs.vue_type,vue_showparam:childs.vue_showparam,#if($fields)#foreach($field in $fields)${field.get(0)}:childs.${field.get(0)}#if($foreach.hasNext),#end#end#end}}">{{ childs.vue_label }}</router-link>
						</menu-item>
						<Submenu v-if="isMoreLeveMenu(childs)==true" :name="childs.vue_name" :key="childs.vue_name">
							<template slot="title">
								<Icon :type="childs.icon"></Icon>
								<span class="layout-text">{{ childs.vue_label }}</span>
							</template>
							<template v-for="child in childs.vue_children">
								<menu-item v-if="isMoreLeveMenu(child)==false" :name="child.vue_name" :key="child.vue_name">
									<router-link  :to="{path:child.vue_path, query:{vue_id:child.vue_id,vue_type:child.vue_type,vue_showparam:child.vue_showparam,#if($fields)#foreach($field in $fields)${field.get(0)}:child.${field.get(0)}#if($foreach.hasNext),#end#end#end}}">{{ child.vue_label }}</router-link>
								</menu-item>
								<Submenu v-if="isMoreLeveMenu(child)==true" :name="child.vue_name" :key="child.vue_name">
									<template slot="title">
										<Icon :type="child.icon"></Icon>
										<span class="layout-text">{{ child.vue_label }}</span>
									</template>
									<template v-for="kids in child.vue_children">
										<menu-item :name="kids.vue_name" :key="kids.vue_name">
											<router-link :to="{path:kids.vue_path, query:{vue_id:kids.vue_id,vue_type:kids.vue_type,vue_showparam:kids.vue_showparam,#if($fields)#foreach($field in $fields)${field.get(0)}:kids.${field.get(0)}#if($foreach.hasNext),#end#end#end}}">{{ kids.vue_label }}</router-link>
										</menu-item>
									</template>
								</Submenu>
							</template>
						</Submenu>
					</template>
				</Submenu>
			</template>
		</i-menu>
		</i-col>
		<i-col span="18">
			<div class="layout-content-main" >
				<router-view></router-view>
			</div>
		</i-col>
	</Row>
</template>
<script>
import VueRouter from "vue-router";
import treemodeColumn from '@/views/treemode/${moducode}treemode-column.js';


export default {
	router : new VueRouter({
		routes : [        		
#if($routes)
#foreach($nroute in $routes)
$nroute#if($foreach.hasNext),#end

#end
#end 			
		]
	}),	
    name: '${moducode}treetreemode-info',
    data () {
        return {
        	treeurl: '/treemode/2000C.do',
        	menuData:[]
        };
    },
    methods: {
        init () {
        	if(this.$route.query){
        	    if(!this.$route.query.vue_code){
        			this.$router.go(0);
        		}
           		treemodeColumn.setPage(this);
        		treemodeColumn.getTreeData(this.$route.query);
        	}
        },
        
		isMoreLeveMenu(child){
			if(child.vue_children){
			   if(child.vue_children.length>0){
					return true;
				}else{
					return false;
				} 
			}else {
				return false;
			}
		},
 
    },
    created() {
    	this.init();
    }
};
</script>